.home-display {
    text-align: center;
}

.chart-container {
    min-width: fit-content;
    min-height: fit-content;
}
.home-header {
    text-align: center;
}
.home-para {
    text-align: center;
}
